{% extends "base_site.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'slat/style.css' %}?{ now "U" %}" />
{{ form.media }}

{% endblock %}

{% block bodyclass %}{{ block.super }} slat {% endblock %}
{% block title %}WebSLAT Permission Denied{% endblock %}
{% block content_title %}Permission Denied{% endblock %}
{% block content %}
<p>403: Permission Denied</p>
<p>
  You are not allowed to access this page. If you believe this is an error,
  please contact the 
  <a href="mailto:openslat@gmail.com">WebSLAT administrator</a>.
</p>
{% endblock %}

