{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'slat/style.css' %}?{% now "U" %}" />

{% block title %}{{ title }} | {{ site_title|default:_('WebSLAT Admin') }}{% endblock %}

{% block branding-right %}
<a href="http://www.quakecentre.co.nz/"><img height="46" width="233" src="{% static 'slat/qclogo-small.png' %}"/></a>
{% endblock %}
{% block branding-left %}
<a href="/"><img height="46" width="233" src="{% static 'slat/openslat-logo.png' %}"/></a>
{% endblock %}

{% block nav-global %}<navigation>{% endblock %}


{% block footer %}
{% endblock %}
