{% extends "base.html" %}
{% load i18n static %}
<link rel="stylesheet" type="text/css" href="{% static 'slat/style.css' %}?{% now "U" %}" />
{% block extrastyle %}
{% comment %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
</script>
{% endcomment %}
{% comment %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
{% endcomment %}
<script src="{% static "slat/js/Chart.js" %}"></script>
<script src="{% static "slat/js/Chart.min.js" %}"></script>
{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('WebSLAT Admin') }}{% endblock %}

{% block branding-right %}
<a href="http://www.quakecentre.co.nz/"><img height="46" width="233" src="{% static 'slat/qclogo-small.png' %}"/></a>
{% endblock %}
{% block branding-left %}
<a href="/"><img height="46" width="233" src="{% static 'slat/openslat-logo.png' %}"/></a>
{% endblock %}

{% block nav-global %}<navigation>{% endblock %}


{% block footer %}
{% endblock %}
