{% extends "base_site.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'slat/style.css' %}?{ now "U" %}" />
    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/slat-utils.js" %}"></script>

    {{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} slat {% endblock %}
{% block title %}WebSLAT: {{ project.title_text }} Analysis{% endblock %}
{% block content_title %}{{ project.title_text }} Analysis{% endblock %}
{% block content %}
<div class="project_title">
<b>Project Analysis:</b> {{ project.title_text }}
</div>

<p><b>Annual Cost Mean:</b> {{ structure.AnnualCost.mean|floatformat:2 }}</p>
<p><b>Annual Cost SD log:</b> {{ structure.AnnualCost.sd_ln|floatformat:2 }}</p>


{% if chart %} 
    <div style="position: relative;  width:50%">
      {{ chart.as_html }}
    </div>
    <hr />
{% endif %}

{% if by_fate_chart %} 
    {{ by_fate_chart.as_html }}
    <hr />
{% endif %}

{% if s_ns_chart %} 
    {{ s_ns_chart.as_html }}
    <hr />
{% endif %}

{% if by_floor_bar_chart %} 
    <div style="position: relative;  width:50%">
      {{ by_floor_bar_chart.as_html }}
    </div>
    <hr />
{% endif %}

{% if by_comp_pie_chart %} 
    <div style="position: relative;  width:100%;">
      <table border="0"><tr><td width="50%">
            {{ by_comp_pie_chart.as_html }}
        </td>
        <td>
          <table style="font-size: small;"><tr><td><b>Colour</b></td><td><b>Component</b></td></tr>
            {% for item in by_comp_pie_chart_legend %}
            <tr><td style="background-color:{{item.1}}"></td><td>{{item.0}}</td></tr>
            {% endfor %}
          </table>
      </td></tr></table>
    </div>
    <hr />
{% endif %}
<a href="{% url 'slat:project' project.id %}">Return to Project</a><br /><br/>
<a href="{% url 'slat:index' %}">Return to Project List</a>


{% endblock %}
