{% extends "base_site.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'slat/style.css' %}?{ now "U" %}" />
    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/slat-utils.js" %}"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
    {{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} slat {% endblock %}
{% block title %}WebSLAT: {{ project.title_text }} Analysis{% endblock %}
{% block content_title %}{{ project.title_text }} Analysis{% endblock %}
{% block content %}
<div class="project_title">
<b>Project Analysis:</b> {{ project.title_text }}
</div>

<p><b>Annual Cost Mean:</b> {{ structure.AnnualCost.mean|floatformat:2 }}</p>
<p><b>Annual Cost SD log:</b> {{ structure.AnnualCost.sd_ln|floatformat:2 }}</p>


{% if jchart %} 
    <div style="position: relative;  width:50%">
      {{ jchart.as_html }}
    </div>
    <hr />
{% endif %}
{% if chart %} 
    {{ chart.as_html }}
    <hr />
{% endif %}

{% if by_fate_chart %} 
    {{ by_fate_chart.as_html }}
    <hr />
{% endif %}

{% if s_ns_chart %} 
    {{ s_ns_chart.as_html }}
    <hr />
{% endif %}

{% if by_floor_chart %} 
    {{ by_floor_chart.as_html }}
    <hr />
{% endif %}

{% if by_floor_bar_chart %} 
    {{ by_floor_bar_chart.as_html }}
    <hr />
{% endif %}

{% if by_comp_pie_chart %} 
    {{ by_comp_pie_chart.as_html }}
    <hr />
{% endif %}
</hr>
<a href="{% url 'slat:project' project.id %}">Return to Project</a><br /><br/>
<a href="{% url 'slat:index' %}">Return to Project List</a>


{% endblock %}
