{% extends "base_site.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'slat/style.css' %}?{ now "U" %}" />
    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/slat-utils.js" %}"></script>

    {{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} slat {% endblock %}
{% block title %}WebSLAT: {{ project.title_text }} Demand Plots{% endblock %}
{% block content_title %}{{ project.title_text }} Demand Plots{% endblock %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript">
  var poll_xhr;
  var status_count = 0;
  var status_flag = false;
  var drift_x_chart = false;
  var drift_y_chart = false;
  var accel_x_chart = false;
  var accel_y_chart = false;

  (function(){
    var poll = function(){
      var json_dump = "{{ data }}";
      var task_id = "{{task_id}}";

      console.log("TASK ID: " + task_id);
      poll_xhr = $.ajax({
        url: "{% url 'slat:generic_poll_state' %}",
        type: 'POST',
        data: {
            task_id: task_id,
            csrfmiddlewaretoken: "{{csrf_token}}",
        },
       success: function(result) {
             status_count++;
             if (status_count == 2) {
                status_count = 0;
                status_flag = !status_flag;
                element = document.getElementById('slat_id_status')
                if (status_flag) {
                   element.style.color = 'red';
                } else {
                   element.style.color = 'black';
                }
             }

             for (f in result) {
                  element = document.getElementById(f)
                  if (f == 'slat_id_chart_drift_x' && !drift_x_chart) {
                      drift_x_chart = true;
                      ctx =  document.getElementById(f).getContext("2d")
                      new Chart(ctx, result[f])
                  } else if (f == 'slat_id_chart_drift_y' && !drift_y_chart) {
                      drift_y_chart = true;
                      ctx =  document.getElementById(f).getContext("2d")
                      new Chart(ctx, result[f])
                  } else if (f == 'slat_id_chart_accel_x' && !accel_x_chart) {
                      accel_x_chart = true;
                      ctx =  document.getElementById(f).getContext("2d")
                      new Chart(ctx, result[f])
                  } else if (f == 'slat_id_chart_accel_y' && !accel_y_chart) {
                      accel_y_chart = true;
                      ctx =  document.getElementById(f).getContext("2d")
                      new Chart(ctx, result[f])
                  } else if (element) {
                      element.textContent = result[f];
                  }
            }
            if (result.slat_id_status == 'Done') {
                clearInterval(refreshIntervalId);
                element = document.getElementById('slat_id_status')
                if (element) {
                    element.hidden = true;
                };
            } else if (RegExp("^Error:").test(result.slat_id_status)) {
                if (element) element.style.color = 'red';
                clearInterval(refreshIntervalId);
            }
      }});
    }

    var refreshIntervalId = setInterval(function() {
      poll();
    },250);
  })();
</script>
<div class="project_title">
    <b>Demand Plots:</b> {{ project.title_text }}
</div>
<div style="width:85vw; height:40vh;">
    <div style="float:left; width:50%">
        <div style="position: relative; width=100%"  class="chart-container" style="position: relative; ">
            <canvas class="chart" id="slat_id_chart_drift_x" style="width:100%; border-style:solid; border-width:thin"></canvas> 
        </div>
    </div>
    <div style="width:50%; float:right">
      <div style="position: relative;  width:100%" class="chart-container" style="position: relative; ">
              <canvas class="chart" id="slat_id_chart_drift_y" style="width:100%; border-style:solid; border-width:thin"></canvas> 
        </div>
    </div>
</div>
<div style="width:85vw; height:40vh">
    <div style="width:50%; float:left">
        <div style="position: relative;  width:100%" class="chart-container" style="position: relative; ">
            <canvas class="chart" id="slat_id_chart_accel_x" style="width:100%; border-style:solid; border-width:thin"></canvas> 
        </div>
    </div>
    <div style="width:50%; float:right">
        <div style="position: relative;  width:100%" class="chart-container" style="position: relative; ">
            <canvas class="chart" id="slat_id_chart_accel_y"style="width:100%; border-style:solid; border-width:thin"></canvas> 
       </div>
   </div>
</div>
<a href="{% url 'slat:floor_by_floor' project.id %}">Detailed Analysis</a><br /><br/>
<a href="{% url 'slat:project' project.id %}">Return to Project</a><br /><br/>
<a href="{% url 'slat:index' %}">Return to Project List</a>


{% endblock %}
