{% extends "base_site.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'slat/style.css' %}?{ now "U" %}" />
    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/slat-utils.js" %}"></script>
    <script type="text/javascript">
      var delete_image = function(index) {
          var e = document.getElementById("id_form-" + (index - 1) + "-image")
          e.value = null
      
          e = document.getElementById("id_form-" + (index - 1) + "-image-preview")
          e.hidden = true
          e = document.getElementById("id_form-" + (index - 1) + "-image-delete-button")
          e.hidden = true
      }
      
      var replace_image = function(self, index) {
          var e = document.getElementById("id_form-" + (index - 1) + "-image")
          //console.log("replace " + e.value + " with " + self.files[0].name)
          e.value = self.files[0].name

          //console.log(self.files[0])
          var img = document.getElementById("id_form-" + (index - 1) + "-image-preview")
          img.hidden = false
          img.src = window.URL.createObjectURL(self.files[0]);
          img.onload = function (e)
          {
             window.URL.revokeObjectURL(this.src);
          }

          e = document.getElementById("id_form-" + (index - 1) + "-image-delete-button")
          e.hidden = false
      }

    function add_damage_state() {
      // Add a line for costs
      var total_forms_element = document.getElementById(
      "id_cost_form-TOTAL_FORMS")
      n_forms = parseInt(total_forms_element.value) + 1
      total_forms_element.value = n_forms
      
      var table = document.getElementById("id_cost_table")
      var tbody = table.children[0]
      var rows = tbody.rows
      var n_rows = rows.length

      new_data_row = document.createElement('tr')
      new_data_row.setAttribute('style', 'background-color:lightgray')
      input = document.createElement('input')
      input.setAttribute('type', 'hidden')
      input.setAttribute('name', 'cost_form-' + (n_forms - 1) + '-rowid')
      input.setAttribute('id', 'id_cost_form-' + (n_forms - 1) + '-rowid')
      new_data_row.appendChild(input)
      input = document.createElement('input')
      input.setAttribute('type', 'hidden')
      input.setAttribute('name', 'cost_form-' + (n_forms - 1) + '-state')
      input.setAttribute('id', 'id_cost_form-' + (n_forms - 1) + '-state')
      input.setAttribute('value', n_forms)
      new_data_row.appendChild(input)
      input = document.createElement('input')
      input.setAttribute('type', 'hidden')
      input.setAttribute('name', 'cost_form-' + (n_forms - 1) + '-component')
      input.setAttribute('id', 'id_cost_form-' + (n_forms - 1) + '-component')
      new_data_row.appendChild(input)
      
      td = document.createElement('td')
      td.textContent = "DS" + n_forms
      new_data_row.appendChild(td)
      
      td = document.createElement('td')
      td.setAttribute('style', "border-right-style:hidden; border-left-width:medium")
      input = document.createElement('input')
      input.setAttribute('type', 'number')
      input.setAttribute('name', 'cost_form-' + (n_forms - 1) + '-lower_limit')
      input.setAttribute('id', 'id_cost_form-' + (n_forms - 1) + '-lower_limit')
      input.setAttribute('value', '0')
      td.appendChild(input)
      new_data_row.appendChild(td)
      
      td = document.createElement('td')
      input = document.createElement('input')
      input.setAttribute('type', 'number')
      input.setAttribute('name', 'cost_form-' + (n_forms - 1) + '-max_cost')
      input.setAttribute('id', 'id_cost_form-' + (n_forms - 1) + '-max_cost')
      input.setAttribute('step', 'any')
      input.setAttribute('value', '0')
      td.appendChild(input)
      new_data_row.appendChild(td)
      
      td = document.createElement('td')
      td.setAttribute('style', "border-right-style:hidden; border-left-width:medium")
      input = document.createElement('input')
      input.setAttribute('type', 'number')
      input.setAttribute('name', 'cost_form-' + (n_forms - 1) + '-upper_limit')
      input.setAttribute('id', 'id_cost_form-' + (n_forms - 1) + '-upper_limit')
      input.setAttribute('value', '0')
      td.appendChild(input)
      new_data_row.appendChild(td)
      
      td = document.createElement('td')
      input = document.createElement('input')
      input.setAttribute('type', 'number')
      input.setAttribute('name', 'cost_form-' + (n_forms - 1) + '-min_cost')
      input.setAttribute('id', 'id_cost_form-' + (n_forms - 1) + '-min_cost')
      input.setAttribute('step', 'any')
      input.setAttribute('value', '0')
      td.appendChild(input)
      new_data_row.appendChild(td)
      
      td = document.createElement('td')
      td.setAttribute('style', "border-left-width:medium")
      input = document.createElement('input')
      input.setAttribute('type', 'number')
      input.setAttribute('name', 'cost_form-' + (n_forms - 1) + '-dispersion')
      input.setAttribute('id', 'id_cost_form-' + (n_forms - 1) + '-dispersion')
      input.setAttribute('step', 'any')
      input.setAttribute('value', '0')
      td.appendChild(input)
      new_data_row.appendChild(td)
      
      tbody.appendChild(new_data_row)
      
      new_error_row = document.createElement('tr')
      new_error_row.setAttribute('style', 'background-color:lightgray')
      new_error_row.setAttribute('hidden', '')
      for (i = 0; i < 6; i++) {
          td = document.createElement('td')
          new_error_row.appendChild(td)
      }      
      tbody.appendChild(new_error_row)
         
      // Do the same for fragility       
      var total_forms_element = document.getElementById("id_fragility_form-TOTAL_FORMS")
      n_forms = parseInt(total_forms_element.value) + 1
      total_forms_element.value = n_forms
      
      var table = document.getElementById("id_fragility_table")
      var tbody = table.children[0]
      var rows = tbody.rows
      var n_rows = rows.length
                     
      new_data_row = document.createElement('tr')
      new_data_row.setAttribute('style', 'background-color:lightgray')
      input = document.createElement('input')
      input.setAttribute('type', 'hidden')
      input.setAttribute('name', 'fragility_form-' + (n_forms - 1) + '-rowid')
      input.setAttribute('id', 'id_fragility_form-' + (n_forms - 1) + '-rowid')
      new_data_row.appendChild(input)
      input = document.createElement('input')
      input.setAttribute('type', 'hidden')
      input.setAttribute('name', 'fragility_form-' + (n_forms - 1) + '-state')
      input.setAttribute('id', 'id_fragility_form-' + (n_forms - 1) + '-state')
      input.setAttribute('value', n_forms)
      new_data_row.appendChild(input)
      input = document.createElement('input')
      input.setAttribute('type', 'hidden')
      input.setAttribute('name', 'fragility_form-' + (n_forms - 1) + '-component')
      input.setAttribute('id', 'id_fragility_form-' + (n_forms - 1) + '-component')
      new_data_row.appendChild(input)

      td = document.createElement('td')
      td.textContent = "DS" + n_forms
      new_data_row.appendChild(td)
      
      td = document.createElement('td')
      input = document.createElement('textarea')
      input.setAttribute('cols', '40')
      input.setAttribute('rows', '10')
      input.setAttribute('name', 'fragility_form-' + (n_forms - 1) + '-description')
      input.setAttribute('id', 'id_fragility_form-' + (n_forms - 1) + '-description')
      td.appendChild(input)
      new_data_row.appendChild(td)

      td = document.createElement('td')
      input = document.createElement('textarea')
      input.setAttribute('cols', '40')
      input.setAttribute('rows', '10')
      input.setAttribute('name', 'fragility_form-' + (n_forms - 1) + '-repairs')
      input.setAttribute('id', 'id_fragility_form-' + (n_forms - 1) + '-repairs')
      td.appendChild(input)
      new_data_row.appendChild(td)

      td = document.createElement('td')
      input = document.createElement('input')
      input.setAttribute('type', 'number')
      input.setAttribute('name', 'fragility_form-' + (n_forms - 1) + '-median')
      input.setAttribute('id', 'id_fragility_form-' + (n_forms - 1) + '-median')
      input.setAttribute('step', 'any')
      input.setAttribute('value', '0')
      td.appendChild(input)
      new_data_row.appendChild(td)

      td = document.createElement('td')
      input = document.createElement('input')
      input.setAttribute('type', 'number')
      input.setAttribute('name', 'fragility_form-' + (n_forms - 1) + '-beta')
      input.setAttribute('id', 'id_fragility_form-' + (n_forms - 1) + '-beta')
      input.setAttribute('step', 'any')
      input.setAttribute('value', '0')
      td.appendChild(input)
      new_data_row.appendChild(td)

      td = document.createElement('td')
      image_table = document.createElement('table')
      image_table_body = document.createElement('tbody')
      image_tr = document.createElement('tr')
      image_td = document.createElement('td')
      input = document.createElement('input')
      input.setAttribute('type', 'hidden')
      input.setAttribute('name', 'fragility_form-' + (n_forms - 1) + '-image')
      input.setAttribute('id', 'id_fragility_form-' + (n_forms - 1) + '-image')
      image_td.appendChild(input)
      image = document.createElement('image')
      image.setAttribute('id', 'id_form-' + (n_forms - 1) + '-image-preview')
      image.setAttribute('src', '/static/slat/images//None')
      image.setAttribute('hidden', '')
      image_td.appendChild(image)
      image_tr.appendChild(image_td)
      image_td = document.createElement('td')
      input = document.createElement('input')
      input.setAttribute('id', 'id_form-' + (n_forms - 1) + '-image-delete-button')
      input.setAttribute('type', 'button')                
      input.setAttribute('style', 'border-width:thin; border-color:black')
      input.setAttribute('value', 'Delete Image')
      input.setAttribute('hidden', '')
      input.setAttribute('title' , 'Click to delete this image.')
                      input.setAttribute('onclick', 'delete_image(1)')
      image_td.appendChild(input)
      input = document.createElement('input')
      input.setAttribute('id', 'id_path-' + (n_forms - 1))
      input.setAttribute('type', 'file')                
      input.setAttribute('name', 'image-' + (n_forms - 1))
      input.setAttribute('onchange', 'replace_image(this, ' + (n_forms - 1) + ')')
      image_td.appendChild(input)
      image_tr.appendChild(image_td)
      image_table_body.appendChild(image_tr)
      image_table.appendChild(image_table_body)
      td.appendChild(image_table)
      new_data_row.appendChild(td)
      tbody.appendChild(new_data_row)
    }
    </script>

    {{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} slat {% endblock %}
{% block title %}WebSLAT: Component {{ component.ident }}{% endblock %}
{% block content_title %}WebSLAT: Component {{ component.ident }}{% endblock %}
{% block content %}
    {% comment %}
        {% if not component_form.is_valid or not cost_form.is_valid or not fragility_form.is_valid %}
            {{ component_form.is_valid }}
        {{ cost_form.is_valid }}
        {{ fragility_form.is_valid }}
            <p><b>Errors:</b></p>
            {{ component_form.errors }}
            {% for e in cost_form.errors %}
                {% if e %}
                    <p><i>{{ e }}</i></p>
                {% endif %}
            {% endfor %}
            {% for e in fragility_form.errors %}
                {% if e %}
                    <p><i>{{ e }}</i></p>
                {% endif %}
            {% endfor %}
            <hr/>
        {% endif %}
    {% endcomment %}
{% if component_form.instance.key %}
    <form enctype="multipart/form-data" action="{% url 'slat:edit_component' component_form.instance.key %}"
{% else %}
    <form enctype="multipart/form-data" action="{% url 'slat:edit_component' %}" 
      {% endif %}
          method="post">
    {% csrf_token %}
{{ component_form.key }}
<table id="id_component_table">
  <tr><th>{{ component_form.ident.label }}</th><td>{{ component_form.ident }}</td>
    {% if component_form.errors.ident %}
    <td class="error">{{ component_form.errors.ident }}</td>
    {% endif %}
  </tr>
  <tr><th>{{ component_form.name.label }}</th><td>{{ component_form.name }}</td>
    {% if component_form.errors.name %}
    <td class="error">{{ component_form.errors.name }}</td>
    {% endif %}
  </tr>
  <tr><th>{{ component_form.system.label }}</th><td>{{ component_form.system }}</td>
    {% if component_form.errors.system %}
    <td class="error">{{ component_form.errors.system }}</td>
    {% endif %}
  </tr>
  <tr><th>{{ component_form.units.label }}</th><td>{{ component_form.units }}</td>
    {% if component_form.errors.units %}
    <td class="error">{{ component_form.errors.units }}</td>
    {% endif %}
  </tr>
  <tr><th>{{ component_form.demand.label }}</th><td>{{ component_form.demand }}</td>
    {% if component_form.errors.demand %}
    <td class="error">{{ component_form.errors.demand }}</td>
    {% endif %}
  </tr>
  <tr><th>{{ component_form.structural.label }}</th><td>{{ component_form.structural }}</td>
    {% if component_form.errors.structural %}
    <td class="error">{{ component_form.errors.structural }}</td>
    {% endif %}
  </tr>
</table>
<hr/>
<input id="id-ds-add" type="button" style="border-width:thin; border-color:black" value="Add a damage state" title="Click to add a damage state." onclick="add_damage_state()"/>
<hr/>
<div id="id_costs">
<h3 title="Help text">Cost Data</h3>
{{ cost_form.management_form }}
{% if cost_form.non_form_errors %}
    <ul>
        {% for e in cost_form.non_form_errors %}
            <li class="error">{{ e }}</li>
        {% endfor %}
    </ul>
{% endif %}
<table border="1" id="id_cost_table">
  <tr><th style="border-bottom-style:hidden"></th>
    <th colspan="2" align="center" style="border-bottom-style:hidden; border-left-width:medium"">Lower</th>
    <th colspan="2" align="center" style="border-bottom-style:hidden; border-left-width:medium"">Upper</th>
    <th style="border-bottom-style:hidden; border-left-width:medium""></th></tr>
  <tr><th>State</th><th align="center" style="border-right-style:hidden; border-left-width:medium">Quantity</th>
    <th align="center">Per-Unit Cost</th>
    <th align="center" style="border-right-style:hidden; border-left-width:medium">Quantity</th>
    <th align="center">Per-Unit Cost</th>
    <th align="center" style="border-left-width:medium">Dispersion</th>
  </tr>
{% for cf in cost_form %}
  <tr style="background-color:{% cycle 'lightgray' 'white' as stripe %}"
      {% comment %}
      {% if forloop.last %}
         hidden
      {% endif %}
      {% endcomment %}
      >
      {{ cf.rowid }}{{ cf.state }}{{ cf.component }}
    <td>
      DS{{ cf.state.value }}
    </td>
    <td style="border-right-style:hidden; border-left-width:medium">{{ cf.lower_limit }}</td><td>{{ cf.max_cost }}</td>
    <td style="border-right-style:hidden; border-left-width:medium">{{ cf.upper_limit }}</td><td>{{ cf.min_cost }}</td>
    <td style="border-left-width:medium">{{ cf.dispersion }}</td>
    </tr>
  {% with forloop.counter|cut:" " as index %}
      {% with cost_form.errors|slice:index|last as errors %}
          <tr style="background-color:{{ stripe }}"       
              {% if not errors%}
                  hidden
              {% endif %}
          >
          <td></td> 
          {% if errors.lower_limit %}
              <td class="error">{{ errors.lower_limit }}</td>
          {% else %}
              <td></td>
          {% endif %}
          {% if errors.max_cost %}
    <td class="error">{{ errors.max_cost }}</td>
    {% else %}
    <td></td>
    {% endif %}
    {% if errors.upper_limit %}
    <td class="error">{{ errors.upper_limit }}</td>
    {% else %}
    <td></td>
    {% endif %}
    {% if errors.min_cost %}
    <td class="error">{{ errors.min_cost }}</td>
    {% else %}
    <td></td>
    {% endif %}
    {% if errors.dispersion %}
    <td class="error">{{ errors.dispersion }}</td>
    {% else %}
    <td></td>
    {% endif %}
    {% endwith %}
    {% endwith %}
    </td>
  </tr>
{% endfor %}
</table>
</div>
<hr/>
<div id="id_fragility">
<h3>Fragility Data</h3>
{{ fragility_form.management_form }}
{% if fragility_form.non_form_errors %}
    <ul>
        {% for e in fragility_form.non_form_errors %}
            <li class="error">{{ e }}</li>
        {% endfor %}
    </ul>
{% endif %}
<table id="id_fragility_table">
  <tr><th>State</th><th>Description</th><th>Repairs</th><th>Median EDP</th><th>Dispersion</th><th>Image</th></tr>
  {% for i in fragility_form %}
     <tr style="background-color:{% cycle 'lightgray' 'white' as stripe %}"
         {% comment %}
         {% if forloop.last %}
             hidden
         {% endif %}
         {% endcomment %}
      > 
       {{ i.state }}{{ i.rowid }}{{ i.component }}

       <td>DS{{ i.state.value }}</td>
       <td>{{ i.description }}</td>
       <td>{{ i.repairs }}</td>
       <td>{{ i.median }}</td>
       <td>{{ i.beta }}</td>
       <td>
         <table><tr><td>
         {{ i.image }}
         {% with forloop.counter|cut:" " as index %}
             <img id="id_form-{{ index|add:"-1" }}-image-preview" src="{% static "slat/images/" %}{{ i.instance.component.ident }}/{{ i.image.value }}"
                  {% if not i.image.value %}
                  hidden
                  {% endif %}
                  />
             </td>
             <td>
             <input id="id_form-{{ index|add:"-1" }}-image-delete-button"
                    type="button" style="border-width:thin; border-color:black" 
                    value="Delete Image" title="Click to delete this image." 
                    onclick="delete_image({{ index }})"
                    {% if not i.image.value %}
                        hidden="false"
                    {% endif %}
                    />
         <input type="file" name="image-{{ index }}" id="id_path-{{ index }}" onchange="replace_image(this, {{ index }})"/>
         </td></tr></table>
         {% endwith %}
       </td></tr>
    {% with forloop.counter|cut:" " as index %}
        {% with fragility_form.errors|slice:index|last as errors %}
                <tr style="background-color:{{ stripe }}"
                    {% if not errors %}
                        hidden
                    {% endif %}
                >
                    <td></td> 
                      {% if errors.description %}
                          <td class="error">{{ errors.description }}</td>
                      {% else %}
                          <td></td>
                      {% endif %}
                      {% if errors.repairs %}
                          <td class="error">{{ errors.repairs }}</td>
                      {% else %}
                          <td></td>
                      {% endif %}
                      {% if errors.median %}
                          <td class="error">{{ errors.median }}</td>
                      {% else %}
                          <td></td>
                      {% endif %}
                      {% if errors.beta %}
                          <td class="error">{{ errors.beta }}</td>
                      {% else %}
                          <td></td>
                      {% endif %}
                          <td></td>
                  </tr>
        {% endwith %}
    {% endwith %}
  {% endfor %}
</table>
</div>
<br/>
<hr/>
{% if component_form.instance.key %}
    <input type="submit" value="Submit Changes" class="normal"/>
{% else %}
    <input type="submit" value="Create Component" class="normal"/>
{% endif %}
</form>
    {% if component_form.instance.key %}
        <form action="{% url 'slat:edit_component' component_form.instance.key %}"
    {% else %}
        <form enctype="multipart/form-data" action="{% url 'slat:edit_component' %}" 
    {% endif %}
              onsubmit="return strip_extras()"
              method="post">
    {% csrf_token %}

    <input type="submit" name="cancel" value="Cancel" />
    <input type="submit" name="back" value="Back to Component List" />
</form>
{% endblock %}
