<p>Engineering Demands</P>
{{ form.errors }}

<P><B>Project:</B> {{ project.title_text }}</P>
{% for e in edps %}
<p><a href="{% url 'slat:edp_view' project.id e.id %}">
    {% if e.flavour is None %}<i>{% else %}<b>{% endif %}
        {{ ed }}
    {% if e.flavour is None %}</i>{% else %}</b>{% endif %}
    </a></p>
{% endfor %}

{% if demand_table %}
    {{ demand_table }}
{% endif %}

</br>
<a href="{% url 'slat:project' project.id %}">Return to Project</a><br /><br/>
<a href="{% url 'slat:index' %}">Return to Project List</a>
