<p>Import demand data from a file</P>

<p><b>Project:</b> {{ project.title }}</p>
<p><b>EDP: </b>{{ edp.id }}</p>


<form enctype="multipart/form-data" action="{% url 'slat:edp_userdef_import' project.id edp.id %}" method="post">
    {% csrf_token %}
    {{ interp_form.as_p }}
    {{ form.as_p }}
    {% if data|length %}
      <table><tr><td>IM</td><td>lambda</td></tr>
      {% for x, y in data %}
	  <tr><td>{{ x }}</td><td>{{ y }}</td></tr>  
      {% endfor %}
      </table>
    {% endif %}
    <input type="submit" value="Submit" />
</form>
<a href="{% url 'slat:project' project.id %}">Return to Project</a><br />
<a href="{% url 'slat:index' %}">Return to Project List</a>
