{% extends "base_site.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'slat/style.css' %}?{ now "U" %}" />
{{ form.media }}
{% endblock %}
{% block bodyclass %}{{ block.super }} slat {% endblock %}
{% block title %}WebSLAT: {{ project.title_text }}; Floor #{{ edp }}
{% endblock %}
{% block content_title %}{{ project.title_text }}; {{ edp }}
{% endblock %}
{% block content %}
<div class="project_title">

<b>Project: </b>{{ project.title_text }}<br/>
<b>Demand: </b>{{ edp }}
</div>
{{ form.errors }}


<form action="{% url 'slat:edp_choose' project.id edp.id %}" method="post">
    {% csrf_token %}
    <label for="id_flavour" class="normal">Choose how to define the engineering demand:</label>
    {{ form.flavour }}
    <table><tr><td style="vertical-align:middle">
    <input type="submit" value="Submit" name="submit" class="normal"/>
    </td><td style="vertical-align:bottom">
    <a href="{% url 'slat:edp_view' project.id edp.id %}"  class="link_button">Cancel</a>
    </td></tr></table>
    <br />
</form>
{% endblock %}
