{% extends "base_site.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'slat/style.css' %}?{ now "U" %}" />
{{ form.media }}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
</script>
{% endblock %}
{% block bodyclass %}{{ block.super }} slat {% endblock %}
{% block title %}WebSLAT Project {{ form.instance.title_text }}{% endblock %}
{% block content_title %}WebSLAT Project {{ form.instance.title_text }}{% endblock %}
{% block content %}
<div class="project_title">
<b>Project:</b>{{ project.title_text }}
</div>
<p>Import demand data from a file</P>
<p><b>Demand: </b>Floor #{{ edp.floor }}
    {% if edp.type == 'A' %}
        Acceleration
    {% elif edp.type == 'D' %}
        Drift
    {% else %}
        <i>Unknown Demand</i>
    {% endif %}
</p>


<form enctype="multipart/form-data" action="{% url 'slat:edp_userdef_import' project.id edp.id %}" method="post">
    {% csrf_token %}
    {{ interp_form }}
    {{ form.as_p }}
    <table><tr><td style="vertical-align:middle">
    <input type="submit" value="Submit" class="normal"/>
    </td><td style="vertical-align:bottom">
    <a href="{% url 'slat:edp_userdef_edit' project.id edp.id %}" class="link_button">Cancel</a>
    </td></tr></table>
    <br/>
</form>
<a href="{% url 'slat:project' project.id %}">Return to Project</a><br />
<a href="{% url 'slat:index' %}">Return to Project List</a>
{% endblock %}
