{% extends "base_site.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'slat/style.css' %}?{ now "U" %}" />
{{ confirm_form.media }}

{% endblock %}

{% block bodyclass %}{{ block.super }} slat {% endblock %}
{% block title %}WebSLAT Project {{ confirm_form.preprocess_data.title }} ETABS Configuration{% endblock %}
{% block content_title %}{{ confirm_form.preprocess_data.title }}{% endblock %}
{% block content %}
<script type="text/JavaScript">
<!--
function Refresh_Tx( ) {
    i = 0;
    while (true) {
        var e = document.getElementById("id_Tx_" + i)
        if (e == null) {
            break;
        } else {
            if (e.value == 'Manual') {
                var f = document.getElementById("id_Manual_Tx")
                if (e.checked) {
                    f.disabled = false
                    f.setAttribute("required", "")
                } else {
                    f.disabled = true
                    f.removeAttribute("required")
                }
            }
            i = i + 1
        }
    }
}

function Refresh_Ty() {
    i = 0;
    while (true) {
        var e = document.getElementById("id_Ty_" + i)
        if (e == null) {
            break;
        } else {
            if (e.value == 'Manual') {
                var f = document.getElementById("id_Manual_Ty")
                if (e.checked) {
                    f.disabled = false
                    f.setAttribute("required", "")
                } else {
                    f.disabled = true
                    f.removeAttribute("required")
                }
            }
            i = i + 1
        }
    }
}

function Refresh_Period() {
    var e = document.getElementById("id_Period")
    var f = document.getElementById("id_Manual_Period")
    if (e.value == "MANUAL") {
        f.disabled = false
        f.setAttribute("required", "")
    } else {
        f.disabled = true
        f.removeAttribute("required")
    }
}
// --!>
</script>

<b>ETABS Confirmation Form</b><br/>
<table><tr><th>Title</th><td>{{ confirm_form.preprocess_data.title }}</td></tr>
<tr><th>Description: </th><td>{{ confirm_form.preprocess_data.description }}</td></tr>
<tr><th>Path: </th><td>{{ confirm_form.preprocess_data.file_name }}</td></tr>
<tr><th>Location: </th><td>{{ confirm_form.preprocess_data.location }}</td></tr>
<tr><th>Soil Class: </th><td>{{ confirm_form.preprocess_data.soil_class }}</td></tr>
<tr><th>Return Period: </th><td>{{ confirm_form.preprocess_data.return_period }}</td></tr>
<tr><th>Frame Type: </th><td>{{ confirm_form.preprocess_data.frame_type }}</td></tr>
</table>
<hr/>
<p><b>Period Units: </b>{{ preprocess_data.period_units }}</p>
</p>
<form action="{% url 'slat:etabs_confirm' preprocess_data.id %}" method="post">
    {% csrf_token %}
    <table>
      <tr><th>Case</th>
        <th>Mode</th>
        <th>Period</th>
        <th align='center'>UX</th>
        <th align='center'>UY</th></tr>
      {% for pc in confirm_form.preprocess_data.get_period_choices %}
          <tr><td>{{ pc.case }}</td>
            <td align='right'>{{ pc.mode }}</td>
            {% if pc.period|floatformat:3 %}
                <td>{{ pc.period|floatformat:3 }}</td>
            {% else %}
                <td>{{ pc.period }}</td>
            {% endif %}
          {% with forloop.counter|cut:" " as index %}
            <td>{{ confirm_form.Tx|slice:index|last }}
              {% ifequal confirm_form.preprocess_data.get_period_choices|length|floatformat index|floatformat %}
                  {{ confirm_form.Manual_Tx }}
              {% endifequal %}
              </td>
            <td>{{ confirm_form.Ty|slice:index|last }}
              {% ifequal confirm_form.preprocess_data.get_period_choices|length|floatformat index|floatformat %}
                {{ confirm_form.Manual_Ty }}
              {% endifequal %}
              </td>
          {% endwith %}
          </tr>
      {% endfor %}
    </table>
    <br/>
    <table><tr><th>Period for Hazard Curve</th><td>{{ confirm_form.Period }}</td><td>{{ confirm_form.Manual_Period }}</td></tr></table>
<hr/>
    <p><b>Height Unit: </b>{{ confirm_form.preprocess_data.height_units }}</p>
    <table><tr><th>Story</th><th>Height</th></tr>
    {% for level in confirm_form.preprocess_data.get_heights %}
      <tr><td>{{ level.Story }}</td><td>{{ level.Height}}</td></tr>
    {% endfor %}
    </table>
    <hr/>
    <p> Choose the 'Load Case/Combo' corresponding to the 'Equivalent Static' load 
      case for story drift:</p>
    <b>X:</b>{{ confirm_form.x_drift_case }}
    <b>Y:</b>{{ confirm_form.y_drift_case }}
<hr/>
    <p><b>Acceleration Units:</b></p>
    <p><b>X</b>: {{ confirm_form.preprocess_data.accel_units_x }}</p>
    <p><b>Y</b>: {{ confirm_form.preprocess_data.accel_units_y }}</p>
    <p> Choose the 'Load Case/Combo' corresponding to the 'Modal Response Spectrum Analysis' load 
      case for acceleration :</p>
    <b>X:</b>{{ confirm_form.x_accel_case }}
    <b>Y:</b>{{ confirm_form.y_accel_case }}
    <input type="submit" value="Submit" class="normal"/>
</form>
{% endblock %}
