{% extends "base_site.html" %}
{% load mathfilters %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'slat/style.css' %}?{ now "U" %}" />
    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/slat-utils.js" %}"></script>

    {{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} slat {% endblock %}
{% block title %}WebSLAT: {{ project.title_text }} Detailed Analysis{% endblock %}
{% block content_title %}{{ project.title_text }} Detailed Analysis{% endblock %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript">
  var poll_xhr;
  var status_count = 0;
  var status_flag = false;
  
  (function(){
    var poll = function(){
    var json_dump = "{{ data }}";
    var task_id = "{{task_id}}";

      poll_xhr = $.ajax({
        url: "{% url 'slat:generic_poll_state' %}",
        type: 'POST',
        data: {
            task_id: task_id,
            csrfmiddlewaretoken: "{{csrf_token}}",
        },
       success: function(result) {
             console.log(result);
             status_count++;
             if (status_count == 5) {
                status_count = 0;
                status_flag = !status_flag;
                element = document.getElementById('slat_id_status')
                if (status_flag) {
                   element.style.color = 'red';
                } else {
                   element.style.color = 'black';
                }
             }
             for (f in result) {
                  //console.log(f + ": " + result[f]);
                  element = document.getElementById(f)
                  if (element) {
                      if (f == 'slat_id_chart') {
                          ctx = element.getContext("2d")
                          new Chart(ctx, result[f])
                      } else {
                          if (typeof result[f] === "number") {
                              element.textContent = result[f].toFixed(2);
                          } else {
                              element.textContent = result[f];
                          }
                      }
                  }
            }
            if (result.slat_id_status == 'Done') {
                clearInterval(refreshIntervalId);
                element = document.getElementById('slat_id_status')
                if (element) {
                    element.hidden = true;
                };
            } else if (RegExp("^Error:").test(result.slat_id_status)) {
                if (element) element.style.color = 'red';
                clearInterval(refreshIntervalId);
            }
      }});
    }

    var refreshIntervalId = setInterval(function() {
      poll();
    },100);
  })();
</script>
<p><span id="slat_id_status"></span>
<div class="project_title">
<b>Project Analysis:</b> {{ project.title_text }}
</div>

<p title="Mean annual cost of repair for the structure."><b>Annual Cost Mean:</b><span id="slat_id_mean_annual_cost"></span></p>
<p title="Standard deviation of the log of the cost of repair for the structure."><b>Annual Cost SD log:</b><span id="slat_id_sd_ln_annual_cost"></span></p>

{% for level in level_map %}
   <p><b>{{ level.label }}</b></p>
    <p><b><a href={% url 'slat:level_cgroups' project.id level.id %}>{{ level.label }}</a></b>
      contributes $<span id="slat_level_contrib_id_{{level.id }}">--.--</span>
      (<span id="slat_level_pct_id_{{level.id }}">--.--</span>%)
      to the total annual expected cost.
    <table border="1">
      <tr>
        <th colspan="2" align="center"style="background:lightgray">Component</th>
        <th style="background:darkgray"></th>
        <th colspan="3" align="center" style="background:lightgray">Quantity</th>
        <th colspan="4" align="center" style="background:darkgray">Cost</th>
      </tr>
      <tr>
        <th style="background:lightgray" title="Compenent Identifier">ID</th>
        <th style="background:lightgray" title="Component Name">Name</th>
        <th style="background:darkgray" title="The cost of components in this group, relative to the default value.">Adj</th>
        <th style="background:lightgray" title="Number of components sensitive to demand in the X direction.">X</th>
        <th style="background:lightgray" title="Number of components sensitive to demand in the Y direction.">Y</th>
        <th style="background:lightgray" title="Number of components sensitive to demand in either direction.">U</th>
        <th style="background:darkgray" title="Cost of the components which are sensitive to demand in the X direction.">X</th>
        <th style="background:darkgray" title="Cost of the components which are sensitive to demand in the Y direction.">Y</th>
        <th style="background:darkgray" title="Cost of the components which are sensitive to demand in either direction.">U</th>
        <th style="background:darkgray" title="Total cost of this component group, in all directions.">Total</th>
      </tr>
     {% for c in level.components %}
        <tr><td>{{ c.component.ident }}</td>
          <td>{{ c.component.name }}</td>
          {% if c.component.comment %}
              <br/>
              <table border="0" style="background:lightgray">
                <tr><td><b>Comment:</b></td><td><i>{{c.component.comment}}</i></td></tr>
              </table>
          {% endif %}
          <td align="right">{{ c.cost_adj }}</td>
          <td align="right">{{ c.quantity_x }}</td>
          <td align="right">{{ c.quantity_y }}</td>
          <td align="right">{{ c.quantity_u }}</td>
          <td align="right" id="slat_comp_id_{{ c.id }}_x"}>---</td>
          <td align="right" id="slat_comp_id_{{ c.id }}_y">---</td>
          <td align="right" id="slat_comp_id_{{ c.id }}_u">---</td>
          <td align="right" id="slat_comp_id_{{ c.id }}_total">---</td>
        </tr>
     {% endfor %}
     <tr><td colspan="6" align="right">Total</td>
        <td align="right" style="background:darkgray" id="slat_comp_id_flr_{{ level.id }}_x"
            title="Total cost of the components which are sensitive to demand in the X direction.">
          -.--</td>
        <td align="right" style="background:darkgray" id="slat_comp_id_flr_{{ level.id }}_y"
            title="Total cost of the components which are sensitive to demand in the Y direction.">
          -.--</td>
        <td align="right" style="background:darkgray" id="slat_comp_id_flr_{{ level.id }}_u"
            title="Total cost of the components which are sensitive to demand in either direction.">
          -.--</td>
        <td align="right" style="background:darkgray" id="slat_comp_id_flr_{{ level.id }}_total"
            title="Total cost of all component groups on this floor, in all directions."
            >-.--</td>
        </tr>
      </table>
   {% endfor %}
<hr/>
<a href="{% url 'slat:project' project.id %}">Return to Project</a><br /><br/>
<a href="{% url 'slat:index' %}">Return to Project List</a>

{% endblock %}
