<p><b>Project: </b>{{ project.title_text }}</p>
<p><b>Floor #{{ floor_num }}</b></p>
<p><b>Component Group </b></p>
{% if cg_id %}
<form action="{% url 'slat:floor_compgroup' project.id  floor_num cg_id %}" method="post">
{% else %}
<form action="{% url 'slat:floor_compgroup' project.id floor_num  %}" method="post">
{% endif %}
    {% csrf_token %}
    {{ cg_form }}
    <br />
    <input type="submit" value="Submit" />
    <input type="submit" name="cancel" value="Cancel" />
</form>
<a href="{% url 'slat:project' project.id %}">Return to Project</a><br />
<a href="{% url 'slat:index' %}">Return to Project List</a>

