{% extends "base_site.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'slat/style.css' %}?{ now "U" %}" />
{{ form.media }}

{% endblock %}

{% block bodyclass %}{{ block.super }} slat {% endblock %}
{% block title %}WebSLAT Group: {{ group.name }}{% endblock %}
{% block content_title %}{{ form.instance.title_text }}{% endblock %}
{% block content %}
{% if form %}
    <form action="" method="post">
      {% csrf_token %}
      {{ form }}
      {% if form.instance.id %}
          <input type="submit" value="Submit Name Change" class="normal"/>
      {% else %}
          <input type="submit" value="Create Group" class="normal"/>
      {% endif %}
    </form>
{% endif %}
{% if members %}
    <p><b>Members:</b></p>
    <ul>
    {% for member in members %}
        <li>{{ member.username }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% if form.instance.id %}
    <a href="{% url 'slat:group_add_user' form.instance.id %}"  class="link_button">Add User to Group</a>
    <a href="{% url 'slat:group_remove_user' form.instance.id %}"  class="link_button">Remove User from Group</a>
{% endif %}
{% endblock %}
