{% extends "base_site.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'slat/style.css' %}?{ now "U" %}" />
{{ form.media }}
{% endblock %}
{% block bodyclass %}{{ block.super }} slat {% endblock %}
{% block title %}WebSLAT: {{ title }} Hazard{% endblock %}
{% block content_title %}{{ title }}: Hazard{% endblock %}
{% block content %}
<div class="project_title">
<b>Project: </b>{{ title }}
</div>
{{ form.errors }}

<p>Choose how to define the intensity measure:</P>
<form action="{% url 'slat:hazard_choose' project_id %}" method="post">
    {% csrf_token %}
    {{ form }}
    <br/><br/>
    <table><tr><td style="vertical-align:middle">
    <input type="submit" name="submit" value="Submit" class="normal"/>
    </td><td style="vertical-align:bottom">
    <a href="{% url 'slat:hazard' project_id%}"  class="link_button">Cancel</a>
    </td></tr></table>
</form>
{% endblock %}
