{% extends "base_site.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'slat/style.css' %}?{ now "U" %}" />
{{ form.media }}
{% endblock %}
{% block bodyclass %}{{ block.super }} slat {% endblock %}
{% block title %}WebSLAT Project List{% endblock %}
{% block content_title %}Your WebsSLAT projects{% endblock %}

{% block content %}
<p>You are logged in as <b><i>{{ request.user.username }}</i></b>.</p>
<p><b>Projects:</b></p>
{% if project_list %}
    <p><i>You have access to these projects:</i></p>
    <ul>
    {% for project in project_list %}
        <li><a href="{% url 'slat:project' project.id %}">{{ project.title_text }}</a> 
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No projects are available.</p>
{% endif %}

&nbsp;
<a href="{% url 'slat:project' %}" class="link_button">Create a New Project</a>
    
<p><b>Groups</b></p>
{% if group_list %}
    <p><i>You are a member of these groups:</i></p>
    <ul>
      {% for group in group_list %}
          <li><a href="{% url 'slat:group' group.id %}">{{ group.name }}</a> </li>
      {% endfor %}
      </ul>
{% else %}
    <p><i>You are not a member of any groups.</i></p>
{% endif %}
<a href="{% url 'slat:group' %}" class="link_button">Create a New Group</a>

    

{% endblock %}
