{% extends "base_site.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'slat/style.css' %}?{% now "U" %}" />
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} slat {% endblock %}
{% block title %}WebSLAT: {{ title }}{% endblock %}
{% block content_title %}{{ title }}{% endblock %}
{% block content %}
<div class="project_title">
<p><b>Project: </b>{{ project.title_text }}</p>
</div>

<p><b>Demands by Level</b></p>
<table cellpadding='3'>
<tr><th style="background:white"></th><th colspan='2' style="background:lightgray" align='center'>Demands</th><th style="background:white"></th></tr>
{% for level in levels %}
<tr><td>
      <a href="{% url 'slat:rename_level' project.id level.id %}" class="link_button" style="font-size:x-small">rename</a>
      <a href="{% url 'slat:shift_level' project.id level.id 1 %}" class="link_button" style="font-size:x-small">▲</a>
      <a href="{% url 'slat:shift_level' project.id level.id -1 %}" class="link_button" style="font-size:x-small">▼</a>
    <b>{{ level.label }}</b></td>
      <td border='3px' style="background:lightgray"><a href="{% url 'slat:demand' project.id level.id 'acceleration' %}">Acceleration</a></td>
      <td style="background:lightgray" >{% if level.level %}
	<a href="{% url 'slat:demand' project.id level.id 'drift' %}">Drift</a>
	{% else %}&nbsp;
	{% endif %}
      </td>
      <td><a href="{% url 'slat:level_cgroups' project.id level.id %}">Components</a></td>
      </tr>
{% endfor %}
</table>
<br/><br/>
<a href="{% url 'slat:project' project.id %}">Return to Project</a><br />
<a href="{% url 'slat:index' %}">Return to Project List</a>

{% endblock %}
