{% extends "base_site.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'slat/style.css' %}?{ now "U" %}" />
    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/slat-utils.js" %}"></script>
    {{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} slat {% endblock %}
{% block title %}WebSLAT: {{ project.title_text }}: {{ level.label }} Component Groups{% endblock %}
{% block content_title %}{{ project.title_text }}: {{ level.label }} Component Groups{% endblock %}
{% block content %}
<div class="project_title">
Component Groups for {{ level.label }}
</div>

{{ form.errors }}
<table border="1">
  <tr style="border-width:1px; border-style:solid solid hidden solid">
    <th></th>
    <th colspan="3" align="center">Count</th>
    <th align="center">Adjustment</th>
    <th colspan="4" align="center">E annual cost</th>
    <th colspan="2"></th></tr>
    <tr><th>Component</th><th style="border-style:none" align="center">X</th>
      <th style="border-style:none" align="center">Y</th>
      <th style="border-style:none" align="center">U</th>
      <th align="center">Factor</th>
      <th style="border-style:none" align="center">X</th>
      <th style="border-style:none" align="center">Y</th>
      <th style="border-style:none" align="center">U</th>
      <th style="border-style:none" align="center">Total</th>
      <th colspan="2"></th></tr>
{% for cg in cgs %}
<tr><td>
    <!-- <a href="{% url 'slat:component' cg.component.ident %}"> -->{{ cg.component }}
    {% if cg.comment %}
        <br/>
        <table border="0"><tr><td><b>Comment:</b></td><td><i>{{cg.comment}}</i></td></tr></table>
    {% endif %}
    <!--</a>--></td>
    <td align="RIGHT">{{ cg.quantity_x }}</td>
    <td align="RIGHT">{{ cg.quantity_y }}</td>
    <td align="RIGHT">{{ cg.quantity_u }}</td>
   <td align="RIGHT">{{ cg.cost_adj|floatformat:2 }}</td>
   <td align="RIGHT">{{ cg.model.Deaggregated_E_annual_cost.X|floatformat:2 }}</td>
   <td align="RIGHT">{{ cg.model.Deaggregated_E_annual_cost.Y|floatformat:2 }}</td>
   <td align="RIGHT">{{ cg.model.Deaggregated_E_annual_cost.U|floatformat:2 }}</td>
   <td align="RIGHT">{{ cg.model.E_annual_cost|floatformat:2 }}</td>
    <td>
      {% if cg.pattern %} 
        <form action="{% url 'slat:compgrouppattern' project.id cg.pattern.id  %}" method="get">
        {% csrf_token %}
        <input type="submit" name='edit' value="Edit Pattern" class="table"/>
        </form>
      {% else %}
        <form action="{% url 'slat:level_compgroup' project.id level.id cg.id  %}" method="get">
        {% csrf_token %}
        <input type="submit" name='edit' value="Edit" class="table"/>
        </form>
      {% endif %}
    </td><td>
    {% if cg.pattern %}
        <form action="{% url 'slat:level_compgroup' project.id level.id cg.id  %}" method="post">
            {% csrf_token %}
          <input type="submit" name='separate' value="Separate" class="table"/>
        </form>
    {% else %}
        <form action="{% url 'slat:level_compgroup' project.id level.id cg.id  %}" method="post">
            {% csrf_token %}
          <input type="submit" name='delete' value="Delete" class="table"/>
        </form>
    {% endif %}
    </td><td>
        {% if not cg.pattern %}
        <form action="{% url 'slat:level_compgroup' project.id level.id cg.id  %}" method="post">
            {% csrf_token %}
          <input type="submit" name='make_pattern' value="Make Pattern" class="table"/>
        </form>
    {% endif %}
    </td></tr>
{% endfor %}
</table>


<p><a href="{% url 'slat:level_compgroup' project.id level.id %}" class="link_button">New Component Group</a></p>

</br>
<a href="{% url 'slat:levels' project.id %}">Return to Levels</a><br /><br/>
<a href="{% url 'slat:project' project.id %}">Return to Project</a><br /><br/>
<a href="{% url 'slat:index' %}">Return to Project List</a>
{% endblock %}
