{% extends "base_site.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'slat/style.css' %}?{ now "U" %}" />
{{ form.media }}

{% endblock %}

{% block bodyclass %}{{ block.super }} slat {% endblock %}
{% block title %}WebSLAT Group: {{ group.name }}{% endblock %}
{% block content_title %}{{ form.instance.title_text }}{% endblock %}
{% block content %}
<form method="post">
  {% csrf_token %}
  {{ form.old_password.label }}: {{ form.old_password }}<br/>
  {% if form.errors %}
     <p>Please correct the following error(s):</p>
       {% for error in form.errors.values %}
         {{ error.as_ul }}
       {% endfor %}
  {% endif %}
  <p>Password restrictions:</p>
  {{ form.new_password1.help_text | safe }} <br/>
  {{ form.new_password1.label }}: {{ form.new_password1 }}<br/>
  {{ form.new_password2.label }}: {{ form.new_password2 }}<br/>
  <button type="submit">Save changes</button>
</form>
{% endblock %}

