{% extends "base_site.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'slat/style.css' %}?{ now "U" %}" />
{{ form.media }}

{% endblock %}

{% block bodyclass %}{{ block.super }} slat {% endblock %}
{% block title %}WebSLAT Project {{ form.instance.title_text }}{% endblock %}
{% block content_title %}{{ form.instance.title_text }}{% endblock %}
{% block content %}
{% if form.instance.id %}
<form action="{% url 'slat:project' form.instance.id %}" method="post">
{% else %}
<p>Create a Project</P>
<form action="{% url 'slat:project' %}" method="post">
{% endif %} 
    {% csrf_token %}
    <table class="loose"><tr class="loose"><td class="loose"> <label for="id_title_text"> Title </label></td><td class="loose"> {{ form.title_text }}</td></tr>
      <tr class="loose"><td class="loose"><label for="id_description_text"> Description </label></td><td class="loose">{{ form.description_text }}</td></tr>
      <tr class="loose"><td class="loose"><label for="id_rarity"> Frequency: </td><td class="loose"> 1 in {{form.rarity }} years.</td></tr>
    {% if levels %}
      <tr class="loose"><td class="loose"><label for="id_levels"> Levels </label></td><td class="loose">{{ levels }}</td></tr>
    {% endif %}
    {% if levels_form %}
      <tr class="loose"><td class="loose"><label for="id_levels"> Levels </label></td><td class="loose">{{ levels_form.levels }}</td></tr>
    {% endif %}
      </table>
    {{ form.IM }}
    <details>
    <summary>Demolition and Collapse Parameters</summary>
    <table border="1"><tr><th>Event</th><th>mean(IM)</th><th>sd(ln(IM))</th><th>mean(Cost)</th><th>sd(ln(Cost))</th></tr>
    <tr><th>Collapse</th><td> {{ form.mean_im_collapse }} </td><td> {{ form.sd_ln_im_collapse }} </td><td> {{ form.mean_cost_collapse }} </td><td> {{ form.sd_ln_cost_collapse }} </td></tr>
    <tr><th>Demolition</th><td> {{ form.mean_im_demolition }} </td><td> {{ form.sd_ln_im_demolition }} </td><td> {{ form.mean_cost_demolition }} </td><td> {{ form.sd_ln_cost_demolition }} </td></tr>
    </table>
    </details>
    <br/>
    {% if users %}
    <details>
    <summary>Allowed Users</summary>
    <ul>
    {% for user in users %}
        <li>{{ user.user.username }}</li>
    {% endfor %}
    </ul>
    <br/>
    {% if can_add %}
      <a href="{% url 'slat:project_add_user' form.instance.id %}"  class="link_button">Add User</a>
      {% if users|length > 1 %}
      <a href="{% url 'slat:project_remove_user' form.instance.id %}"  class="link_button">Remove User</a>
      {% endif %}
    {% endif %}
    </details>
    {% endif %}
    <br/>
    {% if groups %}
      <details>
      <summary>Allowed Groups</summary>
      <ul>
      {% for group in groups %}
          <li>{{ group.name }}</li>
      {% endfor %}
      </ul>
      <br/>
      {% if can_add %}
        <a href="{% url 'slat:project_add_group' form.instance.id %}"  class="link_button">Add Group</a>
        <a href="{% url 'slat:project_remove_group' form.instance.id %}"  class="link_button">Remove Group</a>
      {% endif %}
      </details>
    {% endif %}
    {% if form.instance.id %}
     <input type="submit" value="Submit Changes" class="normal"/>
    {% else %}
     <table><tr><td style="vertical-align:middle">
               <input type="submit" value="Create Project" class="normal"/>
           </td><td style="vertical-align:bottom">
               <a href="{% url 'slat:index' %}"  class="link_button">Cancel</a>
           </td></tr></table>
     {% endif %}
</form>

    {% if chart %} 
        {{ chart.as_html }}
    {% endif %}
    {% if pdfchart %} 
        {{ pdfchart.as_html }}
    {% endif %}
{% comment %}
    {% if chart %} 
        {{ chart.as_html }}
    {% endif %}
{% endcomment %}


{% if form.instance.id %}
    <hr/>
    <table><tr><td>
    <form action="{% url 'slat:hazard' form.instance.id %}" method="get">
      {% csrf_token %}
      <input type="submit" value="Site Hazard" class="normal"/>
    </form></td>
    {% if form.instance.IM %}
	<td><form action="{% url 'slat:levels' form.instance.id %}" method="get">
          {% csrf_token %}
          <input type="submit" value="Engineering Demands" class="normal"/>
        </form></td>
     {% endif %}
    <td><form action="{% url 'slat:analysis' form.instance.id %}" method="get">
      {% csrf_token %}
      <input type="submit" value="Analysis" class="normal"/>
    </form></td>
    </tr></table>
{% endif %}

<br/>    
{% if form.instance.id %}
<a href="{% url 'slat:index' %}">Return to Project List</a>
{% endif %}
{% endblock %}
