{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'slat/style.css' %}" />

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
</script>


{% if form.instance.id %}
<p><b>Project:</b> {{ form.instance.title_text }}</P>
<form action="{% url 'slat:project' form.instance.id %}" method="post">
{% else %}
<p>Create a Project</P>
<form action="{% url 'slat:project' %}" method="post">
{% endif %} 
    {% csrf_token %}
    {{ form.title_text.label }} {{ form.title_text }} <br/>
    {{ form.description_text.label }} {{ form.description_text }} <br/>
    {{ form.rarity.label }} {{form.rarity }} <br/>
    {{ from.floors }} {{ form.IM }}
    <table border="1"><tr><td><b>Event</b></td><td><b>mean(IM)</b></td><td><b>sd(ln(IM))</b></td><td><b>mean(Cost)</b></td><td><b/>sd(ln(Cost))</b></td></tr>
    <tr><td><b>Collapse</b></td><td> {{ form.mean_im_collapse }} </td><td> {{ form.sd_ln_im_collapse }} </td><td> {{ form.mean_cost_collapse }} </td><td> {{ form.sd_ln_cost_collapse }} </td></tr>
    <tr><td><b>Demolition</b></td><td> {{ form.mean_im_demolition }} </td><td> {{ form.sd_ln_im_demolition }} </td><td> {{ form.mean_cost_demolition }} </td><td> {{ form.sd_ln_cost_demolition }} </td></tr>
    </table>
   {% if form.instance.id %}
    <input type="submit" value="Submit Changes" />
   {% else %}
    <input type="submit" value="Create Project" />
   {% endif %}    
</form>

{% if chart %} 
    {{ chart.as_html }}
{% endif %}


{% if form.instance.id %}
    <hr/>
    <form action="{% url 'slat:hazard' form.instance.id %}" method="get">
      {% csrf_token %}
      <input type="submit" value="Site Hazard" />
    </form>
    {% if form.instance.IM %}
        <form action="{% url 'slat:edp' form.instance.id %}" method="get">
          {% csrf_token %}
          <input type="submit" value="Engineering Demands" />
        </form>
     {% endif %}
{% endif %}
    
{% if form.instance.id %}
<a href="{% url 'slat:index' %}">Return to Project List</a>
{% else %}
<a href="{% url 'slat:index' %}">Cancel</a>
{% endif %} 

