{% extends "base_site.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'slat/style.css' %}?{% now "U" %}" />
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} slat {% endblock %}
{% block title %}WebSLAT: {{ title }}{% endblock %}
{% block content_title %}{{ title }}{% endblock %}
{% block content %}
<div class="project_title">
<p><b>Project: </b>{{ project.title_text }}</p>
</div>
<form action="{% url 'slat:rename_level' project.id level.id %}" method="post">
    {% csrf_token %}
    {{ form }}
    <table><tr><td style="vertical-align:middle">
    <input type="submit" value="Submit" class="normal"/>
    </td><td style="vertical-align:middle">
    <a href="{% url 'slat:levels' project.id %}"  class="link_button">Cancel</a>
    </td></tr></table>
</form>
{% endblock %}
