{% extends "base_site.html" %}
{% load static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'slat/style.css' %}?{% now "U" %}" />
{% endblock %}

{% block bodyclass %}{{ block.super }}welcome{% endblock %}
{% block title %}Welcome to WebSLAT{% endblock %}
{% block content_title %}Welcome to WebSLAT{% endblock %}
{% block content %}

   <p>WebSLAT is an on-line tool for performing seismic loss assessment, using the 
   <a href="http://github.com/openslat/SLAT">OpenSLAT</a> library
   provided by the <a href="http://www.quakecentre.co.nz/">Quake Centre</a>.</p>

   <p>The WebSLAT code is available on <a href="http://github.com/openslat/webslat">
       github</a>.</p>

   <p>For support or further information, contact
     <a href="mailto:openslat@gmail.com?subject=WebSLAT">openslat@gmail.com</a>
   </p>
   
   <p><a href="{% url 'slat:index' %}">Enter</a></p>

{% endblock %}
{% block footer %}{% endblock %}
