{% extends "base_site.html" %}
{% load static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'slat/style.css' %}" />
{% endblock %}

{% block bodyclass %}{{ block.super }} welcome {% endblock %}
{% block title %}Welcome to WebSLAT{% endblock %}
{% block content_title %}Welcome to WebSLAT{% endblock %}
{% block content %}

<div class="intro">  
   WebSLAT is an on-line tool for performing seismic loss assessment, using the 
   <a href="http://github.com/mikelygee/SLAT">OpenSLAT</a> library
   provided by the <a href="http://www.quakecentre.co.nz/">Quake Centre</a>.
   <p><a href="{% url 'slat:index' %}">Enter</a></p>
</div>

{% endblock %}
{% block footer %}{% endblock %}
