{% extends "base_site.html" %}
{% load static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'slat/style.css' %}?{% now "U" %}" />
{% endblock %}

{% block bodyclass %}{{ block.super }}welcome{% endblock %}
{% block title %}Welcome to WebSLAT{% endblock %}
{% block content_title %}Welcome to WebSLAT{% endblock %}
{% block content %}

   <p>WebSLAT is an on-line tool for performing seismic loss assessment, using the 
   <a href="http://github.com/openslat/SLAT">OpenSLAT</a> library
   provided by the <a href="http://www.quakecentre.co.nz/">Quake Centre</a>.</p>

   <p>The WebSLAT code is available on <a href="http://github.com/openslat/webslat">
       github</a>.</p>

   <p>For support or further information, contact
     <a href="mailto:openslat@gmail.com?subject=WebSLAT">openslat@gmail.com</a>
   </p>
   
   <p><a href="{% url 'slat:index' %}">Enter</a></p>

   <hr/>
   <div align="left">
       <p>For more information about seismic loss assessment, see:
         <list>
           <li>
             the
             <a href="https://peer.berkeley.edu/">
               Pacific Earthquake Engineering Research Center (PEER)
               </a>
             </li>
           <li>
             PEER's framework for <a href="https://peer.berkeley.edu/research/pbee-methodology"> 
               Performance-Based Earthquake Engineering (PEER)
               </a>
           </li>
           <li>
             The work of 
             <a href="https://sites.google.com/site/brendonabradley/research/seismic-performance-loss-assessment">
               University of Canterbury Professor Brendon Bradley
             </a>
           </li>
           <li> 
             <a href="https://www.fema.gov/media-library-data/1396495019848-0c9252aac91dd1854dc378feb9e69216/FEMAP-58_Volume1_508.pdf">FEMA P-58 (<i>Seismic Performance Assessment of Buildings</i>)</a> (SLAT uses the "Simplified Analysis" described starting on 
             <a href="https://www.fema.gov/media-library-data/1396495019848-0c9252aac91dd1854dc378feb9e69216/FEMAP-58_Volume1_508.pdf#page=111">page 5-14</a>).
             </li>
         </list>
       </p>
   </div>
{% endblock %}
{% block footer %}{% endblock %}
