o{% extends "base_site.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'slat/style.css' %}" />

{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }}login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block title %}WebSLAT Password Reset{% endblock %}
{% block content_title %}WebSLAT Password Reset{% endblock %}

{% block content %}
<div>
  <h3>Forgot password</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
</div>
{% endblock %}
