body {
    background: white;
}

table {
    display: table;
    background: white;
    border-collapse: collapse;
    border-spacing: 2px;
    border-color: black;
}
th, td {
    padding-right: 15px;
    padding-left: 15px;
}
input {
  vertical-align: middle;
  display: block;
  margin-top: 10px;
}
